<div class="toolbar" role="banner">
  <a routerLink="/">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <h2>Expense Tracker</h2>
  </a>

  <div *ngIf="isLoggedIn; else elseBlock">
  <a routerLink="/employee-reports" class="login-button-container">
    <button class="login-button" mat-raised-button color="primary">
      Expense Reports
    </button>
  </a>
  <button (click)="logout()" class="login-button" mat-raised-button color="accent">Logout</button>
  </div>
  <ng-template #elseBlock >
  <a routerLink="/" class="login-button-container">
    <button class="login-button" mat-raised-button color="primary">
      Login
    </button>
  </a>
</ng-template>
</div>
