<mat-card *ngIf="currentUser?.id"  class="login-form-container">
  <mat-card-content>
    User ID - {{currentUser.id}}<br/>
    User Name - {{currentUser.fname + ' ' + currentUser.lname}}<br/>
    User Email - {{currentUser.email}}<br/>
    User Role - {{currentUser.role.roleName}}<br/><br/><br/>
    <button (click)="changePassword()" class="login-button" mat-raised-button color="primary"> Change Password</button>
  </mat-card-content>
</mat-card>
<mat-card style="margin-top: 0rem;display: flex;  place-items: center;">
  <mat-card-content>
<div *ngIf="change == 'true'">
    <form [formGroup]="myForm">
        <br />
        <br />
        <mat-form-field>
          <input
            required
            matInput
            type="password"
            placeholder="Please Enter Current Password"
            formControlName="currentPassword"
            autocomplete="false"
          />
          <mat-hint *ngIf="!currentPasswordInput.value">Please Enter Current Password</mat-hint>
        </mat-form-field>
        <br />
        <br />
        <mat-form-field>
          <input
            matInput
            placeholder="Please Enter New Password"
            type="password"
            formControlName="newPassword"
            required
            autocomplete="false"
          />
          <mat-hint *ngIf="!newPasswordInput.value">Please Enter Password</mat-hint>
        </mat-form-field>
        <br />
        <br />
        <button  (click)="updatePassword()"  mat-raised-button color="warn">Update Password</button>
      </form>
</div>
</mat-card-content>
</mat-card>